# udev rules to provide predictable names for USB devices used for 3D printing
#
# - Devices are identified by their USB vendor, product IDs and bcdDevice
#   - You can get these values from dmesg -LT, lsusb -v, udevadm info -a -p $(udevadm info -q path -n /dev/<device>) etc...
#   - Or even monitor udev events live with udevadm monitor --property --udev
# - Rules are added to /etc/udev/rules.d/99-3d-printer.rules
# - Reload the rules with sudo udevadm control --reload-rules
# - You can tests these rules with udevadm test /sys/class/usb/<device>
#
# One of the devices is a webcam, which is used to monitor the 3D printer
#
# The following rules are very specific because my server has many USB devices

# USB to Serial Adapter - This is part of the Ender 3 V2 printer
# Creates symlinks to /dev/3dprinter
KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{bcdDevice}=="0264", MODE="0666", SYMLINK+="3dprinter"
# usb 3-6.1: new full-speed USB device number 69 using xhci_hcd
# usb 3-6.1: New USB device found, idVendor=1a86, idProduct=7523, bcdDevice= 2.64
# usb 3-6.1: New USB device strings: Mfr=0, Product=2, SerialNumber=0
# usb 3-6.1: Product: USB Serial
# usb 3-6.1: ch341-uart converter now attached to ttyUSB1

# Logitech Webcam 0/1 (c922/c920)- This is used to monitor the 3D printer
SUBSYSTEM=="video4linux", ATTRS{serial}=="36D296DF", ATTR{index}=="0", SYMLINK+="cam_octoprint"
SUBSYSTEM=="video4linux", ATTRS{serial}=="36D296DF", ATTR{index}=="0", RUN+="v4l2-ctl -d /dev/cam_octoprint --set-ctrl=power_line_frequency=1,focus_auto=0,focus_absolute=30"

SUBSYSTEM=="video4linux", ATTRS{serial}=="FB5BC4FF", ATTR{index}=="0", SYMLINK+="cam_octoprint"
SUBSYSTEM=="video4linux", ATTRS{serial}=="FB5BC4FF", ATTR{index}=="0", RUN+="v4l2-ctl -d /dev/cam_octoprint --set-ctrl=power_line_frequency=1,focus_auto=0,focus_absolute=30"
