# !Ender-5 S1
# printer_size: 220x220x280
# version: 3.5
# host: rockpi 4 SE
# To use this config, during "make menuconfig" select the STM32F401
# with a "64KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

###fluidd set

### Includes
[include start-end.cfg]
[include macros.cfg]
[include timelapse.cfg]
[include jschuh-klipper-macros/idle.cfg]
[include jschuh-klipper-macros/kinematics.cfg]
[include calibrate-pa.cfg]
###

# [temperature_sensor Board_MCU]
# sensor_type: temperature_mcu
# min_temp: 0
# max_temp: 100

[temperature_sensor Rock_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 80

[save_variables]
filename: ~/variables.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[respond]
default_type: echo

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2300 # calibrated 2023-03-21 (5000 creality's stock config)
max_accel_to_decel: 2300 # default is 1/2 max_accel
max_z_velocity: 10
max_z_accel: 1000
square_corner_velocity: 5.0

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
# rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
rotation_distance: 40
microsteps: 16
endstop_pin: !PA5
position_min: -5
position_endstop: 220
position_max: 220
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: !PA6
position_min: -2
position_endstop: 220
position_max: 220
homing_speed: 80

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop
#position_endstop: -0.1
position_min: -10
position_max: 280
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 1000.0
#instantaneous_corner_velocity: 1.000
#max_extrude_only_accel:
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
# rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / <requested_extrude_distance>
# Stock rotation distance for Sprite = 7.5
# Claibrated 2023-03-18
rotation_distance: 7.4
microsteps: 16
nozzle_diameter: 0.600 #0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
pressure_advance: 0.04	            # Calibrated 2023-03-18
pressure_advance_smooth_time: 0.03  # Calibrated 2023-03-15
min_temp: 0
max_temp: 285

# Note: Use software retraction as it provides wipes (TBC)
# G10/G11
[firmware_retraction]
retract_length: 1.3
retract_speed: 36
unretract_extra_length: 0
unretract_speed: 35

[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
min_temp: 0
max_temp: 110

[verify_heater extruder]
check_gain_time: 200
hysteresis: 5

[fan]
pin: PA0
kick_start_time: 0.5

#set heater fan running with temperature over 60;
[heater_fan my_nozzle_fan]
pin: PC0
max_power: 0.8
shutdown_speed : 0
heater:extruder
heater_temp : 60
fan_speed : 1.0

[mcu]
#serial: /dev/serial/by-id/usb_serial_1 #sonicpad
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0 #rockpi
restart_method: command

# https://www.klipper3d.org/RPi_microcontroller.html
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:gpiochip1/gpio24 #rpi:None
#spi_speed: 2000000
spi_bus: spidev1.0

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 70
probe_points:
    117.5,117.5,10

[input_shaper]

# calibrated stock controller board 2023-03-15
#shaper_type_x = 2hump_ei
#shaper_freq_x = 67.4
#shaper_type_y = mzv # 2hump_ei
#shaper_freq_y = 59.2 # 71.4

# calibrated stock controller board 2023-03-21
#shaper_type_x = mvz
#shaper_freq_x = 28.0
#shaper_type_y = zv
#shaper_freq_y = 32.6

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: ^!PC15

[bltouch]
sensor_pin: ^PC14       #signal check port ^stand for pull up
control_pin: PC13       #singal control prot
x_offset: -7.0
y_offset: 10.0
#z_offset: 1.105        #z off_set configuration
speed: 20
stow_on_each_sample: false #high speed for bltoch,
samples: 1
#probe_with_touch_mode = true

# Safe Z Home is setup for homing during a paused print, it homes at the back left corner of the bed.
[safe_z_home]
home_xy_position:195,195
speed: 100
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 155
mesh_min: 15, 15        #need to handle head distance with bl_touch
mesh_max: 195,195       #max probe range
probe_count: 7,7
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[bed_screws]
screw1: 25, 33
screw2: 202, 33
screw3: 202, 202
screw4: 25, 202

[gcode_macro G29]
gcode:
  G28
  bed_mesh_calibrate
  G1 X0 Y0 Z10 F4200

[gcode_arcs]
resolution: 0.2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.940
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.135
#*# pid_ki = 1.091
#*# pid_kd = 92.872
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.933
#*# pid_ki = 0.713
#*# pid_kd = 1433.705
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.055000, -0.175000, -0.155000, -0.192500, -0.152500, -0.142500, -0.115000
#*# 	-0.117500, -0.230000, -0.240000, -0.285000, -0.257500, -0.237500, -0.172500
#*# 	-0.177500, -0.287500, -0.280000, -0.337500, -0.300000, -0.300000, -0.222500
#*# 	-0.232500, -0.307500, -0.317500, -0.345000, -0.365000, -0.367500, -0.282500
#*# 	-0.282500, -0.322500, -0.347500, -0.365000, -0.370000, -0.357500, -0.325000
#*# 	-0.257500, -0.295000, -0.330000, -0.365000, -0.327500, -0.345000, -0.297500
#*# 	-0.167500, -0.235000, -0.200000, -0.225000, -0.200000, -0.207500, -0.170000
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 195.0
#*# min_y = 15.0
#*# max_y = 195.0
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 21.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 31.0
