# MEASURE_AXES_NOISE (0~100 and < 1000)
# TEST_RESONANCES AXIS=X
# TEST_RESONANCES AXIS=Y
# mkdir -p ~/calibration/$(date +%Y%m%d)
# cd  ~/calibration/$(date +%Y%m%d)
# mv /tmp/resonances_*$(date +%Y%m%d)* .
#  ~/klipper/scripts/calibrate_shaper.py resonances_x*.csv -o resonances_x_$(date +%Y%m%d).png
#  ~/klipper/scripts/calibrate_shaper.py resonances_y*.csv -o resonances_y_$(date +%Y%m%d).png

[input_shaper]
# calibrated 2023-07-04
# suggested max_accel <= 4700 mm/sec^2
shaper_type_x = mzv
shaper_freq_x = 64.8
shaper_type_y = mzv
shaper_freq_y = 39.8

# ####


## CAN BUS ADXL345
[adxl345]
cs_pin: can0: PB12
spi_software_sclk_pin: can0: PB10
spi_software_mosi_pin: can0: PB11
spi_software_miso_pin: can0: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
  110,110,10
# accel_per_hz: 75


### KUSBA USB ADXL345 Devices ###
# https://github.com/xbst/KUSBA

# [mcu adxl-hotend]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E66198F1CF791428-if00 # Hotend
# # Edit the above line with the correct serial address. Use "ls /dev/serial/by-id/*" to find the MCU serial address.

# # [mcu adxl-bed]
# # serial: /dev/serial/by-id/usb-Klipper_rp2040_E66220F1C71A8333-if00 # Bed
# # # Edit the above line with the correct serial address. Use "ls /dev/serial/by-id/*" to find the MCU serial address.

# [adxl345 hotend]
# cs_pin: adxl-hotend:gpio1

# # [adxl345 bed]
# # cs_pin: adxl-bed:gpio1

# # # # Hardware SPI Option (Better results, "Invalid ID" Klipper bug with first query)
# spi_bus: spi0a

# # # # Software SPI Option (No "Invalid ID" Klipper bug with first query)
# # # # spi_software_sclk_pin: adxl:gpio2
# # # # spi_software_mosi_pin: adxl:gpio3
# # # # spi_software_miso_pin: adxl:gpio0

# [resonance_tester]
# accel_chip: adxl345 hotend
# # accel_chip_x: adxl345 hotend
# # accel_chip_y: adxl345 bed
# probe_points:
#   110,110,20


### For using GPIO connection directly to ADXL chip
# # https://www.klipper3d.org/RPi_microcontroller.html
# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:gpiochip1/gpio24 #rpi:None
# #spi_speed: 2000000
# spi_bus: spidev1.0

# [resonance_tester]
# accel_chip: adxl345
# accel_per_hz: 75
# probe_points:
#     117.5,117.5,10
###
