# https://github.com/rootiest/zippy-klipper_config/blob/master/extras/GET_POSITION_STATS.cfg

[gcode_macro GET_POSITION_STATS]
gcode:
    {% set FIL_SWITCH = 'filament_switch_sensor filament_sensor' %}
    {% set FIL_MOTION = 'filament_motion_sensor filament_motion' %}
    {% set config = printer.configfile.config %}
    {% if printer.toolhead.homed_axes %}
        RESPOND MSG="Homed Axis: "{printer.toolhead.homed_axes}
    {% else %}
        RESPOND MSG="Homed Axis: none"
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
        GET_POSITION
        RESPOND MSG="Gcode Position: X{printer.gcode_move.gcode_position.x}, Y{printer.gcode_move.gcode_position.y}, Z{printer.gcode_move.gcode_position.z}, E{printer.gcode_move.gcode_position.e}"
        RESPOND MSG="Stalls: {printer.toolhead.stalls}"
        RESPOND MSG="Minimum Position: X{printer.toolhead.axis_minimum.x}, Y{printer.toolhead.axis_minimum.y}, Z{printer.toolhead.axis_minimum.z}"
        RESPOND MSG="Maximum Position: X{printer.toolhead.axis_maximum.x}, Y{printer.toolhead.axis_maximum.y}, Z{printer.toolhead.axis_maximum.z}"
        RESPOND MSG="Maximum Velocity: {printer.toolhead.max_velocity}mm/s"
        RESPOND MSG="Maximum Acceleration: {printer.toolhead.max_accel}mm/s/s"
        RESPOND MSG="Maximum Accel-to-Decel: {printer.toolhead.max_accel_to_decel}mm/s/s"
        RESPOND MSG="Square Corner Velocity: {printer.toolhead.square_corner_velocity}mm/s"
        RESPOND MSG="Live Velocity: {printer.motion_report.live_velocity}mm/s"
        RESPOND MSG="Gcode Speed: {printer.gcode_move.speed}mm/s"
        RESPOND MSG="Gcode Speed Factor: {(printer.gcode_move.speed_factor * 100)}%"
        RESPOND MSG="Gcode Extrude Factor: {(printer.gcode_move.extrude_factor * 100)}%"
        RESPOND MSG="Absolute Positioning: {printer.gcode_move.absolute_coordinates}"
        RESPOND MSG="Absolute Extrusion: {printer.gcode_move.absolute_extrude}"
    {% endif %}

    {% if printer.quad_gantry_level %}
        RESPOND MSG="Quad gantry Level Applied: "{printer.quad_gantry_level.applied}
    {% endif %}
    {% if printer.z_tilt %}
        RESPOND MSG="Z-Tilt Applied: "{printer.z_tilt.applied}
    {% endif %}
    {% if printer.bed_mesh %}
        {% set bed_mesh = printer.bed_mesh %}
        RESPOND MSG="Bed Mesh Profile: "{bed_mesh.profile_name}
        RESPOND MSG="Bed Mesh Min: {bed_mesh.mesh_min}"
        RESPOND MSG="Bed Mesh Max: {bed_mesh.mesh_max}"
    {% endif %}
    {% if printer[FIL_SWITCH] %}
        {% set fil_sensor = printer[FIL_SWITCH] %}
        RESPOND MSG="Filament Sensor Enabled: "{fil_sensor.enabled}
        RESPOND MSG="Filament Detected: "{fil_sensor.filament_detected}
    {% endif %}
    {% if printer[FIL_MOTION] %}
        {% set fil_sensor = printer[FIL_MOTION] %}
        RESPOND MSG="Filament Sensor Enabled: "{fil_sensor.enabled}
        RESPOND MSG="Filament Detected: "{fil_sensor.filament_detected}
    {% endif %}

    {% set extruder = printer['extruder'] %}
    {% set heater_bed = printer['heater_bed'] %}
    RESPOND MSG="Extruder Temperature: {extruder.temperature}C"
    RESPOND MSG="Extruder Target Temp: {extruder.target}C"
    RESPOND MSG="Extruder Power: {(extruder.power * 100)}%"
    RESPOND MSG="Extruder Can Extrude: {extruder.can_extrude}"
    RESPOND MSG="Bed Temperature: {heater_bed.temperature}C"
    RESPOND MSG="Bed Target Temp: {heater_bed.target}C"
    RESPOND MSG="Bed Power: {(heater_bed.power * 100)}%"
